* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Sora", sans-serif;
}

.title {
  font-style: normal;
  color: $tertiary-color;
  font-weight: 600;
}

.descr {
  color: $quaternary-color;
  line-height: 26px;
}
