/* #region variaveis*/
$bgColor1: #121212;
$bgColor2: #151515;
$primaryColor: #00D2DF;
$secondaryColor: #ffffff;
$neutral: #c4c4c4;

/* #endregion */
/* #region mixin*/
@mixin title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $primaryColor;
}

@mixin text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $secondaryColor;
}

@mixin link {
    color: $neutral;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@mixin descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $neutral;
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 153px;
    height: 45px;
    font-size: 16px;
    line-height: 19px;
    color: $secondaryColor;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;

    &:nth-child(1) {
        border-width: 3px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #9358F7, #c5f7f9);

        &:hover {
            background: linear-gradient(45deg, #9358F7 50%, $bgColor2 40%);
            color: $secondaryColor;
        }
    }

    &:nth-child(2) {
        border-width: 3px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #D24074, #6518B4);

        &:hover {
            background: linear-gradient(45deg, #D24074 50%, $bgColor2 40%);
            color: $secondaryColor;
        }
    }
}

/* #endregion */