.main {
    position: relative;

    &::after {
        content: url(../img/looper-bg.png);
        position: absolute;
        top: -40px;
        right: 0px;
        z-index: -1;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 40px;

        .button {
            @include button;
        }
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 192px 180px;

    .text {
        @include text;
    }

    .title {
        @include title;
        font-size: 64px;
        line-height: initial;
    }
}

.about {
    display: grid;
    align-items: flex-start;
    justify-items: flex-start;
    grid-template-columns: 1fr auto;
    padding: 100px 180px;
    background-color: $bgColor2;
    gap: 40px;
    position: relative;

    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 367px;
        height: 367px;
        background-color: $bgColor1;
        border-left: 4px solid $primaryColor;

        .title {
            @include title;
            font-size: 32px;
            text-transform: uppercase;
        }
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:not(:first-child) {
            gap: 20px;
        }

        .title {
            @include title;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 40px;
            color: $secondaryColor;
        }

        .text {
            @include text;
            font-size: 20px;
            text-transform: capitalize;
        }

        .descr {
            @include descr;
        }
    }

    .social-media {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 34px;

        a {
            font-size: 24px;
            color: $primaryColor;
        }
    }

    .buttons {
        @extend .buttons;
        margin-top: 24px;
    }
}

.experience {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px 180px;

    .title {
        @include title;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: $secondaryColor;
    }

    .jobs {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        gap: 88px;

        ul {
            li {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: $neutral;
                padding: 18px 32px;

                &:nth-child(1) {
                    color: $secondaryColor;
                    background-color: $bgColor2;
                    border-left: 4px solid #00d2df;
                }
            }
        }

        .experience-description {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 26px;

            .experience-role {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: $secondaryColor;
                width: 100%;
                gap: 20px;

                .title {
                    text-transform: initial;
                    margin: 0;

                    .experience-date {
                        font-size: 16px;
                    }
                }
            }

            .text {
                @include text;
                font-size: 16px;
                color: $primaryColor;
            }

            .descr {
                @include descr;
                max-width: 57ch;
            }
        }
    }
}

/* #region responsividade*/
@media (max-width: 1260px) {
    .main {
        &::after {
            top: 20px;
            opacity: 40%;
        }
    }

    .about {
        grid-template-columns: 1fr;

        .photo {
            width: 100%;
            height: 150px;
        }

        .profile {
            grid-row: 1;
        }
    }
}

@media (max-width: 1060px) {
    .experience {
        .jobs {
            grid-template-columns: 1fr;

            ul {
                display: flex;
                flex-direction: row;
                overflow: hidden;

                li {
                    font-size: 14px;

                    &:nth-child(1) {
                        color: $secondaryColor;
                        background-color: $bgColor2;
                        border-left: 0;
                        border-bottom: 4px solid #00d2df;
                    }
                }
            }
        }
    }
}

/* #endregion */