.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 40px;

  .button {
    color: $primary-color;
    background: #1D1D1D;
    border: 2px solid $secondary-color;
    text-align: center;
    width: 350px;
    height: 70px;
    font-size: 20px;
    border-radius: 12px 2px 2px 2px;
    cursor: pointer;
  }
}
