* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #13131f;
}

/* classes reutilizaveis */

.container {
  padding: 40px 80px;
}

.titulo {
  font-family: "Lexend Deca";
  font-size: 48px;
  line-height: 60px;
  color: #fefbfb;
}

.subtitulo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #c4c4c4;
  max-width: 38ch;
}

.box-color {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: RGBA(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  height: 100%;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Lexend Deca";
  line-height: 18px;
  color: #fefbfb;
  background: #8257e6;
  border-radius: 3px;
  padding: 4px 8px;
}

.button {
  border: 1px solid #8257e6;
  border-radius: 30px;
  padding: 5px 20px;
  background-color: transparent;
  font-family: "Lexend Deca";
  font-size: 14px;
  line-height: 18px;
  color: #fefbfb;
  cursor: pointer;
}

.box-color:hover {
  background-color: RGBA(0, 0, 0, 0);
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: #8257e6;
}

.menu-navegacao {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  gap: 60px;
}

.menu-navegacao .button:hover {
  background-color: #8257e6;
}

.menu-navegacao ul {
  display: flex;
  gap: 40px;
}

.menu-navegacao a {
  color: #c4c4c4;
}

.menu-navegacao a:hover {
  border-bottom: 4px solid #8257e6;
  transition: 0.3s;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.box-container-00 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 100px;
  gap: 20px;
}

.box-middle-container-00 {
  background: url("./img/walking-dead.png") no-repeat center top;
  background-size: cover;
}

.box-middle-container-00 .box-tag {
  font-size: 14px;
}

.box-middle-container-00 .titulo {
  font-size: 24px;
  line-height: 34px;
}

.box-aside-container-00 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-aside-00 .box-color {
  width: 100%;
  height: 165px;
}

.box-aside-00 .tag {
  font-size: 12px;
}

.box-aside-00:nth-child(1) {
  background: url("./img/attack-titan.png") no-repeat center top;
  background-size: cover;
  height: 165px;
}

.box-aside-00:nth-child(2) {
  background: url("./img/league-of-legends.png") no-repeat center top;
  background-size: cover;
  height: 165px;
}

.box-aside-00 .titulo {
  font-size: 13px;
  line-height: 20px;
}

/* box-container-01 */

.box-container-01 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.box-middle-container-01 {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.box-middle-01 {
  display: flex;
  gap: 20px;
  position: relative;
}

.box-middle-01 .box-color {
  position: absolute;
  width: 200px;
  top: 0;
}

.box-middle-01 .tag {
  font-size: 10px;
}

.box-middle-01 .box-descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.box-middle-01 .titulo {
  font-size: 13px;
  color: #fefbfb;
  line-height: 20px;
}

.box-middle-01 .subtitulo {
  font-size: 11px;
  line-height: 16px;
  color: #c4c4c4;
  max-width: 48ch;
}

.box-middle-01 .button {
  background: #8257e6;
  border-radius: 3px;
}

.box-aside-container-01 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 229px);
  gap: 40px;
  position: relative;
}

.box-aside-container-01::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 827px;
  border-left: 10px solid #282830;
  top: 0;
  left: -30px;
}

.box-aside-container-01::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 500px;
  border-left: 10px solid #8257e6;
  top: 20px;
  left: -30px;
}

.box-aside-container-01 .titulo {
  font-size: 24px;
  line-height: 20px;
  position: relative;
}

.box-aside-container-01 h1::after {
  content: "";
  position: absolute;
  width: 250px;
  bottom: -20px;
  left: 0;
  border-bottom: 4px solid #8257e6;
}

.box-aside-01:nth-child(2) {
  background: url("./img/chihiro.png") no-repeat center top;
  background-size: cover;
}

.box-aside-01:nth-child(3) {
  background: url("./img/rede-social.png") no-repeat center top;
  background-size: cover;
}

.box-aside-01:nth-child(4) {
  background: url("./img/god-of-war.png") no-repeat center top;
  background-size: cover;
}

.box-aside-01 .titulo {
  font-size: 13px;
  line-height: 20px;
}

/* box-container-02 */

.box-container-02 {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.box-container-02 h1 {
  font-size: 24px;
  line-height: 20px;
  position: relative;
}

.box-container-02 h1::before {
  content: "";
  position: absolute;
  width: 250px;
  bottom: -20px;
  left: 0;
  border-bottom: 4px solid #8257e6;
}

.box-middle-container-02 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 40px;
}

.box-middle-02 {
  min-height: 250px;
}

.box-middle-02:nth-child(1) {
  background: url("./img/vidas-vento.png") no-repeat center top;
  background-size: cover;
}

.box-middle-02:nth-child(2) {
  background: url("./img/gta5.png") no-repeat center top;
  background-size: cover;
}

.box-middle-02:nth-child(3) {
  background: url("./img/viking.png") no-repeat center top;
  background-size: cover;
}

.box-middle-02:nth-child(4) {
  background: url("./img/soul-disney.png") no-repeat center top;
  background-size: cover;
}

.box-middle-02:nth-child(5) {
  background: url("./img/your-name.png") no-repeat center top;
  background-size: cover;
}

.box-middle-02:nth-child(6) {
  background: url("./img/lol.png") no-repeat center top;
  background-size: cover;
}

.box-middle-02 .titulo {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.footer .titulo {
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: #8257e6;
}

.footer .subtitulo {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #c4c4c4;
  max-width: 50ch;
}
