.movies {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    color: $primary-color;

    &::after {
      content: "";
      width: 61px;
      height: 4px;
      background-color: $secondary-color;
      position: absolute;
      bottom: -7px;
      left: 0;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    overflow-x: scroll;
    width: 1450px;
    gap: 35px;

    img {
      width: 250px;
      height: 100%;
    }
  }
}
