@media (max-width: 1080px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 210px);
      width: 1000px;

      img {
        width: 210px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 195px);
      width: 940px;

      img {
        width: 195px;
      }
    }
  }
}

@media (max-width: 900px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 230px);
      width: 820px;

      img {
        width: 230px;
      }
    }
  }
}

@media (max-width: 864px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 220px);
      width: 785px;

      img {
        width: 220px;
      }
    }
  }
}

@media (max-width: 811px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 200px);
      width: 730px;

      img {
        width: 200px;
      }
    }
  }
}

@media (max-width: 800px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 200px);
      width: 720px;

      img {
        width: 200px;
      }
    }
  }
}

@media (max-width: 768px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 185px);
      width: 680px;

      img {
        width: 185px;
      }
    }
  }
}

@media (max-width: 720px) {
  .movies {
    .gallery {
      grid-template-columns: repeat(6, 170px);
      width: 640px;

      img {
        width: 170px;
      }
    }
  }
}

@media (max-width: 416px) {
  .header {
    .nav-bar {
      display: none;
    }
  }

  .main {
    
    .selected-movie {
      .title {
        font-size: 40px;
      }
      .sinopse {
        font-size: 16px;
      }
      .button {
        font-size: 16px;
        padding: 10px 20px;
      }
    }

    .movies {
      .title {
        font-size: 24px;
      }
      .gallery {
        grid-template-columns: repeat(6, 170px);
        width: 335px;

        img {
          width: 170px;
        }
      }
    }
  }

  .footer {
    align-items: center;
    justify-content: center;

    .title {
      display: none;
    }
  }
}
